html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background-color: #A2D2FF;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #A2D2FF;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 1px;
  margin-right: auto;
  text-align: center;
	width: 270px;
}

.logo {
  padding-top: 40px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  border-radius: 25px;
  
}

.pixel {
  margin: 0 auto;
  font-size: 25px;
  color: white;
  height: auto;
  font-family: 'VT323';
  
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel a:hover{
  color: #FF865E;
}

.pixel a:active {
  color: #FF865E;
  top: 2px;
}

.pixel {
  width: max-content;
  line-height: 0;
  
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  
  border-style: solid;
  border-width: 20px;
  -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
}

.pixel a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: auto;
  text-align: center;
  margin: -20px -20px;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;  
  color: white;
  
	background: #000000;
	background:
		linear-gradient(135deg, transparent 10px, #000000 0) top left,
		linear-gradient(225deg, transparent 10px, #000000 0) top right,
		linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-image:
		radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
		radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
}


main {
  background-color: white;
  flex-grow: 1;
  font-family: 'Albert Sans', sans-serif;
  margin-left: 295px;
  display: flex;
  flex-direction: column;
	height: 100%;
	box-shadow: -2px 10px 12px 9px grey;
}

.techno {
  display: flex;
  flex-direction: column;
}

h2, h3, h4 {
  align-items: center;
  text-align: center; 
}

li a{
  color: white;
  font-family: 'VT323';
  font-size: 26px;
  text-decoration: none;
}

.sub_text a:hover {
  color: #FF865E;
}

.sub_text a:active{
  color: #FF865E;
  top: 2px;
}

.weather {
	margin-top: 10%;
	align-items: center;
}

.weather h3 {
	font-family: 'VT323';
	letter-spacing: 1.5px;
}

.location h2 {
	font-weight: 300;	
	font-family: 'VT323';
	font-size: 30px;
	letter-spacing: 1.5px;
}

.weather-box {
	width: 190px;
	height: 30px;
/* 	border: 2px solid white;
	border-radius: 20px 20px 20px 20px; */
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-temp {
 font-size: 50px;
  font-family: "VT323";
  margin: 20px;
}

.form_box{
  width: 300px;
  height: 400px;
  background-color: #ffc660;
  border: 8px solid #ff924f;
  border-radius: 10px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

#title-Tag-Line {
  font-size: 20px;
}

/* form animation starts */
.form {
  bottom: 100px;
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: 620px;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #0e3721;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}
.name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
  color: black;
}

.email:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
  color: black;
}

.message:hover {
  border-bottom: 5px solid #0e3721;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #0e3721;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 
