---
// Click button, get confetti!
// Styled by Tailwind :)
const projectDirs = await import.meta.glob("../../public/**/**/index.html");
---

<!-- random file path from projectDirs -->
<a
  id="confettiButton"
  target="_blank"
  rel="noopener noreferrer"
  title="Open a random project (new tab)"
  href={Object.keys(projectDirs)
    [
      Math.floor(Math.random() * Object.keys(projectDirs).length)
    ].replace("public", "StudentShowcase")
    .replace("index.html", "")}
  class="bg-cohortHeading hover:bg-buttonHover focus:heading appearance-none rounded-lg px-8 py-4 text-base font-semibold text-[#237293] shadow-md [text-shadow:_0_2px_30px_rgb(255_255_255)] hover:text-white hover:[text-shadow:_0_2px_30px_black] focus:outline-none focus:ring-2 focus:ring-opacity-75"
>
  <slot />
</a>

<script>
  import confetti from "canvas-confetti";
  const buttons = document.body.querySelectorAll("#confettiButton");

  const projectDirs = await import.meta.glob("../../public/**/**/index.html");

  if (buttons) {
    buttons.forEach((x) => {
      x.addEventListener("click", () => {
        event.preventDefault(); // Prevent the default behavior of the anchor tag
        confetti();

        // open in new tab
        window.open(x.href, "_blank");

        // random file path from projectDirs
        const randomProject = Object.keys(projectDirs)
          [
            Math.floor(Math.random() * Object.keys(projectDirs).length)
          ].replace("public", "StudentShowcase")
          .replace("index.html", "");

        x.href = randomProject;
      });
    });
  }
</script>
