<a
  id="return-home"
  aria-label="go back to Daniel Segarra's Portfolio"
  href="https://danielsegarra.dev/work/education/"
>
  <svg
    id="logo"
    viewBox="0 0 20 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      id="animatedCurve"
      d="M8.63739 6.82584C8.75689 6.96242 5.75148 8.2885 5.24641 8.59154C3.91277 9.39173 2.75596 10.9866 3.66128 12.5644C4.32114 13.7144 7.70668 14.0178 7.11244 15.5741C6.24829 17.8374 3.49523 18.853 2.21662 20.7709C0.752343 22.9674 7.17285 22.0847 7.67427 21.9548C12.4181 20.7259 15.1959 17.9769 17.165 13.5074C18.8138 9.76478 19.7179 4.05454 14.7572 2.53195C11.8844 1.65021 9.0265 2.13065 6.1092 2.13065"
      stroke="white"
      stroke-width="3"
      stroke-linecap="round"></path>
  </svg>
</a>

<style>
  #logo {
    display: inline-block;
    vertical-align: unset;
  }
  #logo path {
    stroke: #000;
  }

  #cohort-subtitle {
    font-size: 2rem;
  }

  @media (prefers-color-scheme: dark) {
    #logo path {
      stroke: #fff;
    }
  }

  @keyframes draw {
    from {
      stroke-dashoffset: 300;
      /* Start with a larger dash offset to hide the entire path */
    }

    to {
      stroke-dashoffset: 0;
      /* Fully reveal the path */
    }
  }

  #animatedCurve {
    stroke-dasharray: 300;
    /* Total length of the path */
    stroke-dashoffset: 100;
    /* Initial dash offset, hides the entire path */
    animation: draw 10s cubic-bezier(0.22, 0.61, 0.36, 1) forwards infinite;
    /* Animate the drawing using the 'draw' animation */
    opacity: 0.7;
  }

  #return-home:focus #animatedCurve,
  #return-home:hover #animatedCurve,
  #return-home:active #animatedCurve {
    opacity: 1;
    fill: burlywood;
    overflow: hidden;
  }

  #return-home {
    background-color: hsla(0, 0%, 51%, 0.8);
    position: fixed;
    /*! left: 10px; */
    /* if you have the banner before the h1 */
    /* top: 50%; */
    /* top: 50vh; */
    /*! translate: 0% -50%; */
    font-size: initial;
    padding: 0.5rem;
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    top: 35px;
    border-radius: 0 20px 20px 0;
  }

  #return-home:focus,
  #return-home:hover,
  #return-home:active,
  #return-home::before {
    transition: all 1s ease;
  }

  #return-home,
  #return-home::before {
    transition: none;
  }

  #return-home:focus::before,
  #return-home:hover::before,
  #return-home:active::before {
    content: url('data:image/svg+xml,<svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.337 0.435944C32.2976 0.986607 31.9441 1.51927 31.6911 1.99423C31.2934 2.74073 30.7691 3.43677 30.224 4.08075C29.1885 5.3043 27.7831 6.21569 26.4496 7.07727C24.8297 8.12383 23.0617 8.88969 21.2753 9.60319C18.1082 10.8681 14.8801 11.9592 11.5606 12.7462C9.91905 13.1353 8.27009 13.4903 6.60721 13.7762C6.31636 13.8262 5.75095 13.817 5.49792 14.0067" stroke="hsl(0, 2.6%, 15.3%)" stroke-width="2" stroke-linecap="round"/><path d="M9.8219 8.82831C9.76167 8.82831 9.70909 8.82982 9.64797 8.84073C9.37485 8.8895 9.30796 8.92461 8.98205 9.06685C8.16163 9.4249 7.36112 9.831 6.56933 10.2471C5.27685 10.9264 3.93868 11.6198 2.79495 12.5406C2.08746 13.1102 1.3768 13.8754 1.08543 14.757C0.963391 15.1262 0.957287 15.5189 1.16494 15.8577C1.70906 16.7455 2.83129 17.3043 3.71184 17.7785C4.95663 18.4488 6.23187 18.9142 7.58561 19.2942" stroke="hsl(0, 2.6%, 15.3%)" stroke-width="2" stroke-linecap="round"/></svg>')
      "   Return Home";
    position: relative;
    top: 5px;
    color: hsl(0, 2.6%, 15.3%);
    font-family: "Architects Daughter", cursive;
    white-space: pre;
  }

  #return-home::before {
    padding-right: 1rem;
    vertical-align: 40%;
  }

  #return-home:hover,
  #return-home:focus,
  #return-home:active {
    width: fit-content;
    max-width: 200px;
    border-radius: 0 20px 20px 0px;
  }

  @media (hover: hover) {
    #return-home:focus svg,
    #return-home:hover svg,
    #return-home:active svg {
      animation: bannerSlideDesktop 1.5s ease;
    }
    #return-home {
      /* position: absolute; */
      /*! top: initial; */
      /* translate: 0% -50%; */
    }
  }

  @media (hover: none) {
    #return-home::before {
      content: url('data:image/svg+xml,<svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.337 0.435944C32.2976 0.986607 31.9441 1.51927 31.6911 1.99423C31.2934 2.74073 30.7691 3.43677 30.224 4.08075C29.1885 5.3043 27.7831 6.21569 26.4496 7.07727C24.8297 8.12383 23.0617 8.88969 21.2753 9.60319C18.1082 10.8681 14.8801 11.9592 11.5606 12.7462C9.91905 13.1353 8.27009 13.4903 6.60721 13.7762C6.31636 13.8262 5.75095 13.817 5.49792 14.0067" stroke="hsl(0, 2.6%, 15.3%)" stroke-width="2" stroke-linecap="round"/><path d="M9.8219 8.82831C9.76167 8.82831 9.70909 8.82982 9.64797 8.84073C9.37485 8.8895 9.30796 8.92461 8.98205 9.06685C8.16163 9.4249 7.36112 9.831 6.56933 10.2471C5.27685 10.9264 3.93868 11.6198 2.79495 12.5406C2.08746 13.1102 1.3768 13.8754 1.08543 14.757C0.963391 15.1262 0.957287 15.5189 1.16494 15.8577C1.70906 16.7455 2.83129 17.3043 3.71184 17.7785C4.95663 18.4488 6.23187 18.9142 7.58561 19.2942" stroke="hsl(0, 2.6%, 15.3%)" stroke-width="2" stroke-linecap="round"/></svg>')
        "   Return Home";
      position: relative;
      top: 5px;
      color: hsl(0, 2.6%, 15.3%);
      font-family: "Architects Daughter", cursive;
      white-space: pre;
    }

    #return-home {
      width: fit-content;
      max-width: 200px;
      border-radius: 0 20px 20px 0px;
    }

    #return-home svg {
      animation: slideSVGMobile 1.5s ease reverse 2s;
    }

    #return-home {
      animation: shrinkBannerMobile 1.5s ease 2s;
    }

    #return-home::before {
      animation: fadingBannerTextMobile 1.5s ease 2s forwards;
    }
  }

  @keyframes slideSVGMobile {
    0% {
      /* position: absolute; */
      left: 0%;
    }

    100% {
      /* position: relative; */
      left: 200%;
    }
  }

  @keyframes shrinkBannerMobile {
    0% {
      width: 100%;
    }

    100% {
      width: 45px;
    }
  }

  @keyframes fadingBannerTextMobile {
    0% {
      content: url('data:image/svg+xml,<svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.337 0.435944C32.2976 0.986607 31.9441 1.51927 31.6911 1.99423C31.2934 2.74073 30.7691 3.43677 30.224 4.08075C29.1885 5.3043 27.7831 6.21569 26.4496 7.07727C24.8297 8.12383 23.0617 8.88969 21.2753 9.60319C18.1082 10.8681 14.8801 11.9592 11.5606 12.7462C9.91905 13.1353 8.27009 13.4903 6.60721 13.7762C6.31636 13.8262 5.75095 13.817 5.49792 14.0067" stroke="hsl(0, 2.6%, 15.3%)" stroke-width="2" stroke-linecap="round"/><path d="M9.8219 8.82831C9.76167 8.82831 9.70909 8.82982 9.64797 8.84073C9.37485 8.8895 9.30796 8.92461 8.98205 9.06685C8.16163 9.4249 7.36112 9.831 6.56933 10.2471C5.27685 10.9264 3.93868 11.6198 2.79495 12.5406C2.08746 13.1102 1.3768 13.8754 1.08543 14.757C0.963391 15.1262 0.957287 15.5189 1.16494 15.8577C1.70906 16.7455 2.83129 17.3043 3.71184 17.7785C4.95663 18.4488 6.23187 18.9142 7.58561 19.2942" stroke="hsl(0, 2.6%, 15.3%)" stroke-width="2" stroke-linecap="round"/></svg>')
        "   Return Home";
    }

    100% {
      content: "";
    }
  }

  @keyframes bannerSlideDesktop {
    0% {
      position: absolute;
      left: 0%;
    }

    100% {
      /* position: relative; */
      left: 200%;
    }
  }

  #return-home svg {
    height: 30px;
  }
</style>
