html, 

nav {
  background-color: #B25068;
}

.nav-contact {
  max-height: 25px;
  
}

h {
  font-size: 90px;
  padding: 5px;
  left: %;
}

h1 {
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
  font-family: 'Archivo Black', sans-serif;
}

@media only screen and (max-width: 1043px) {

footer {
  max-height: 20px;
}

.carousel-subs {
  position: relative;
  left: 0px !important;
  bottom: 0px !important;
  
}